* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

}




#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    
}

#top-box {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 100%;
  
    
}
#timer {
    align-self: center;
    padding: 0;
    margin: 0;
    width: 100px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game-name {
    justify-content: center;
    text-align: center ;
    padding: 0;
}

#slime {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

#sprite {
    height: 150px;
    width: 150px;
    background-color: rgb(41, 129, 129);
}

#bottom-box {
    height: 25%;
    width: 100%;
    border-color: black;
}

#bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 80px ;
}

.nes-input {
    align-items: center;
    
}

.nes-btn {
    width: 50px;
    margin: 0;
}

.life {
    width: 50px;
    height: 50px;
    text-align: center;

}