* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    padding: 0;
    margin: 0;

}


#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#top-box {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 50%;
}
.timer {
    padding: 0;
    margin: 0;
    flex-direction: row;
    height: 25px;
    width: 25px;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#game-name {
    justify-content: center;
    text-align: center ;
}

#slime {
    display: flex;
    justify-content: center;
    width: 50%;
}
#sprite {
    height: 150px;
    width: 150px;
    background-color: rgb(41, 129, 129);
}

#bottom-box {
    height: 25%;
    width: 50%;
}

#bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nes-input {
    align-items: center;
    
}

.nes-btn {
    
    width: 50px;
    margin: 0;

}